.container {
    margin: 4rem 0;
    padding: 0 8.12rem;
}

.title {
    margin-bottom: 1.5rem;
    font-size: 3.75rem;
    font-weight: 600;
    text-align: center;
}

.posts {
    display: flex;
    gap: 1.5rem;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.loader {
    display: flex;
    justify-content: center;
}