.container {
    padding: 4rem 8.12rem;
}

.header {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
}

.leaveButton {
    display: flex;
    align-items: center;
    gap: 0.38rem;
    line-height: 2rem;
}

.title {
    margin-top: 2rem;
    text-align: center;
}

.image {
    display: block;
    margin: 3rem auto;
    width: 53rem;
    height: 29.8125rem;
    object-fit: cover;
}

.body {
    margin: 0 auto;
    width: 53rem;
    font-size: 1.125rem;
}